@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');



.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0A2239;
  color: #F1F1F2;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  width: 100%;
  height: auto; 
}

nav {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;  
  background-color: #163A5F;
  border-radius: 0 0 20px 20px;
}

main {
  flex-grow: 1;
  background: linear-gradient(to bottom, #031a30, #112B44, #111c25);
  /* padding: 20px; */
}

footer {
  padding: 20px 0;
  height: auto;
  background-color: #111c25;
}
