.techniqueContainer {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;  
    background-color: #003362;
    border-radius: 10px;
    animation: animatioon 0.7s ease-out;
    transition: box-shadow .5s; 
}

.techniqueContainer:hover {
    box-shadow: 0px 0px 5px 0 #fff;
}

.techniqueContainer h2 {
    text-align: center;
    margin: 5px 0;
}

.techniqueContainer div, .techniqueContainer figcaption button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}

.techniqueContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.techniqueContainer figcaption {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    max-height: 25px;
    transition: max-height .3s ease-in-out;
    text-align: center;
    background-color: #014a8f;
    z-index: 1;
}

.techniqueContainer figcaption p {
    padding: 15px;
}

.techniqueContainer figcaption button {
    background-color: #014a8f;
    font-size: 15px;
    border: none;
    height: 30px;
    color: white;
    transition: transform .5s;
}

.techniqueContainer figcaption button:hover {
    transform: scale(1.4);
}

figcaption.toggledDescription {
    max-height: 100%;
}

figcaption.toggledDescription p {
    padding: 15px;
}

@keyframes animatioon {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}
