.searcherContainer {
    background-color: #163A5F;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
  
  .searcherHeading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .searcherForm {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .searcherLabel {
    font-size: 16px;
    font-weight: bold;
  }
  
  .searcherSelect {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  .searcherSelect:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
  }
  
  .searcherButton {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searcherButton:hover {
    background-color: #0056b3;
  }
  
  .searcherButton:first-of-type {
    background-color: #17a2b8;
  }
  
  .searcherButton:first-of-type:hover {
    background-color: #117a8b;
  }



@keyframes Show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}